.buttonLike {
  margin: 10px ;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: gray;
  display: inline-block;
  box-shadow: 5px 5px 0 black;
  cursor: pointer;
}

.buttonLike:hover {
  box-shadow: 10px 10px 0 black;
}
