* {
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: purple;
  color: white;
}

canvas {
  background-color: white;
}

label {
  margin: 10px;
}

a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

label:hover, a:hover {
  color: #99ff66;
}

textarea, input, canvas {
  border: none;
  margin: 20px;
  box-shadow: 10px 10px 0 0 black;
}

textarea, input {
  background-color: #99ff66;
  padding: 5px;
  border-radius: 20px;
}

textarea {
  resize: both;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.export {
  display: flex;
  justify-content: flex-start;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"] {
  display: none;
}

.resizable {
  resize: vertical;
  overflow: auto;
  direction: unset;
  border: 5px solid white;
  border-radius: 20px;
  margin: 5px;
}
