.showHide {
  border: 1px solid white;
  background-color: gray;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 5px 5px black;
  cursor: pointer;
}

.showHide:hover {
  color: #99ff66;
  box-shadow: 8px 8px black;
}
